body {
  background: #fefefe;
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%; }

p {
  font-size: inherit; }

h1 {
  font-weight: bolder;
  font-size: 24px;
  color: #1779ba;
  line-height: normal !important;
  text-align: left; }

h2 {
  font-weight: bolder;
  font-size: 18px;
  color: #1779ba;
  text-align: left; }

h3 {
  font-weight: bolder;
  font-size: 21px;
  color: #1779ba; }

h4 {
  font-weight: bolder;
  font-size: 14px;
  color: #1779ba;
  text-align: left; }

a {
  font-weight: bold;
  color: #1779ba; }
  a:hover {
    color: #1468a0;
    text-decoration: none; }

#footnote {
  color: #0a0a0a;
  font-family: 'Times New Roman'; }

.SectionHead {
  font-weight: bolder;
  font-size: 16px;
  color: #060;
  text-align: left; }

.footer {
  font-size: 11px;
  color: #0a0a0a; }

.ArticleHead {
  font-weight: bolder;
  font-size: 27px;
  color: #093;
  text-align: left; }

.ArticleText {
  font-size: 13px;
  color: #0a0a0a; }

.MenuComment {
  font-size: 11px;
  color: #0a0a0a;
  font-family: 'Times New Roman'; }

.MenuTitle {
  font-weight: bolder;
  font-size: 13px;
  text-decoration: underline; }

.ArticleHighLight {
  font-weight: bolder;
  font-size: 16px;
  color: #933;
  FONT-STYLE: italic; }

.ArticleTextSmall {
  font-size: 11px;
  color: #0a0a0a; }

.TextBlue {
  color: #1779ba;
  text-decoration: none; }

.TextRed {
  color: plum;
  text-decoration: none; }

.TimesItalicText {
  font-size: 13px;
  color: #0a0a0a;
  font-family: 'Times New Roman'; }
