body {
  font-size: 10pt;
  color: #0a0a0a;
  font-family: Verdana, Arial, sans-serif; }

p {
  font-weight: normal;
  font-size: 10pt;
  color: #0a0a0a; }

h1 {
  font-weight: bolder;
  font-size: 24px;
  color: #1779ba;
  line-height: normal !important;
  text-align: left; }

h2 {
  font-weight: bolder;
  font-size: 18px;
  color: #1779ba;
  text-align: left; }

h4 {
  font-weight: bolder;
  font-size: 14px;
  color: #1779ba;
  text-align: left; }

#footnote {
  color: #0a0a0a;
  font-family: 'Times New Roman'; }

.SectionHead {
  font-weight: bolder;
  font-size: 12pt;
  color: #060;
  text-align: left; }

.footer {
  font-size: 8pt;
  color: #0a0a0a; }

.ArticleHead {
  font-weight: bolder;
  font-size: 20pt;
  color: #093;
  text-align: left; }

.ArticleText {
  font-size: 10pt;
  color: #0a0a0a; }

.MenuComment {
  font-size: 8pt;
  color: #0a0a0a;
  font-family: 'Times New Roman'; }

.MenuTitle {
  font-weight: bolder;
  font-size: 10pt;
  text-decoration: underline; }

h3 {
  font-weight: bolder;
  font-size: 16pt;
  color: #1779ba; }

.ArticleHighLight {
  font-weight: bolder;
  font-size: 12pt;
  FONT-STYLE: italic; }

.ArticleTextSmall {
  font-size: 8pt;
  color: #0a0a0a; }

.TextBlue {
  color: mediumblue;
  text-decoration: none; }

.TextRed {
  text-decoration: none; }

.TimesItalicText {
  font-size: 10pt;
  color: #0a0a0a;
  font-family: 'Times New Roman'; }

a {
  font-weight: bold;
  color: #1779ba; }
  a:hover {
    color: #1468a0;
    text-decoration: none; }
