a:active {
  FONT-WEIGHT: bold;
  COLOR: #8c2021;
  FONT-FAMILY: Verdana, Arial, 'Times New Roman';
  TEXT-DECORATION: none; }

a:link {
  FONT-WEIGHT: bold;
  COLOR: #8c2021;
  FONT-FAMILY: Verdana, Arial, 'Times New Roman';
  TEXT-DECORATION: none; }

a:visited {
  FONT-WEIGHT: bold;
  COLOR: blue;
  FONT-FAMILY: Verdana, Arial, 'Times New Roman';
  TEXT-DECORATION: none; }

a:hover {
  FONT-WEIGHT: bold;
  COLOR: darkblue;
  FONT-FAMILY: Verdana, Arial, 'Times New Roman';
  TEXT-DECORATION: underline; }
