// -----------------------------------------
// |            Color Variables            |
// -----------------------------------------

$blue: #1779ba;
$blue-hover: #1468a0;
$black: #0a0a0a;


// ------------------------------------
// |            Typography            |
// ------------------------------------

$body-font-family: Verdana, Arial, sans-serif;
