@import '_var.scss';

body {
	font-size: 10pt;
	color: $black;
	font-family: $body-font-family;
}

p {
	font-weight: normal;
	font-size: 10pt;
	color: $black;
}

h1 {
	font-weight: bolder;
	font-size: 24px;
	color: $blue;
	line-height: normal !important;
	text-align: left;
}

h2 {
	font-weight: bolder;
	font-size: 18px;
	color: $blue;
	text-align: left;
}

h4 {
	font-weight: bolder;
	font-size: 14px;
	color: $blue;
	text-align: left;
}

#footnote {
	color: $black;
	font-family: 'Times New Roman';
}

.SectionHead {
	font-weight: bolder;
	font-size: 12pt;
	color: #060;
	text-align: left;
}

.footer {
	font-size: 8pt;
	color: $black;
}

.ArticleHead {
	font-weight: bolder;
	font-size: 20pt;
	color: #093;
	text-align: left;
}

.ArticleText {
	font-size: 10pt;
	color: $black;
}

.MenuComment {
	font-size: 8pt;
	color: $black;
	font-family: 'Times New Roman';
}

.MenuTitle {
	font-weight: bolder;
	font-size: 10pt;
	text-decoration: underline;
}

h3 {
	font-weight: bolder;
	font-size: 16pt;
	color: $blue;
}

.ArticleHighLight {
	font-weight: bolder;
	font-size: 12pt;
	color: #933;
	FONT-STYLE: italic;
}

.ArticleTextSmall {
	font-size: 8pt;
	color: $black;
}

.TextBlue {
	color: mediumblue;
	text-decoration: none;
}

.TextRed {
	color: plum;
	text-decoration: none;
}

.TimesItalicText {
	font-size: 10pt;
	color: $black;
	font-family: 'Times New Roman';
}

a {
	font-weight: bold;
	color: $blue;

	&:hover {
		color: $blue-hover;
		text-decoration: none;
	}
}
