@import '_var.scss';

body {
	background: #fefefe;
	font-family: $body-font-family;
	font-weight: normal;
	line-height: 1.5;
	color: $black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 100%;
}

p {
	font-size: inherit;
}

h1 {
	font-weight: bolder;
	font-size: 24px;
	color: $blue;
	line-height: normal !important;
	text-align: left;
}

h2 {
	font-weight: bolder;
	font-size: 18px;
	color: $blue;
	text-align: left;
}

h4 {
	font-weight: bolder;
	font-size: 14px;
	color: $blue;
	text-align: left;
}

#footnote {
	color: $black;
	font-family: 'Times New Roman';
}

.SectionHead {
	font-weight: bolder;
	font-size: 16px;
	color: #060;
	text-align: left;
}

.footer {
	font-size: 11px;
	color: $black;
}

.ArticleHead {
	font-weight: bolder;
	font-size: 27px;
	color: #093;
	text-align: left;
}

.ArticleText {
	font-size: 13px;
	color: $black;
}

.MenuComment {
	font-size: 11px;
	color: $black;
	font-family: 'Times New Roman';
}

.MenuTitle {
	font-weight: bolder;
	font-size: 13px;
	text-decoration: underline;
}

h3 {
	font-weight: bolder;
	font-size: 21px;
	color: $blue;
}

.ArticleHighLight {
	font-weight: bolder;
	font-size: 16px;
	color: #933;
	FONT-STYLE: italic;
}

.ArticleTextSmall {
	font-size: 11px;
	color: $black;
}

.TextBlue {
	color: $blue;
	text-decoration: none;
}

.TextRed {
	color: plum;
	text-decoration: none;
}

.TimesItalicText {
	font-size: 13px;
	color: $black;
	font-family: 'Times New Roman';
}

a {
	font-weight: bold;
	color: $blue;

	&:hover {
		color: $blue-hover;
		text-decoration: none;
	}
}
