body {
  background: #fefefe;
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%; }

p {
  font-size: inherit; }

h1 {
  font-weight: bolder;
  font-size: 24px;
  color: #1779ba;
  line-height: normal !important;
  text-align: left; }

h2 {
  font-weight: bolder;
  font-size: 18px;
  color: #1779ba;
  text-align: left; }

h3 {
  font-weight: bolder;
  font-size: 21px;
  color: #1779ba; }

a {
  font-weight: bold;
  color: #1779ba; }
  a:hover {
    color: #1468a0;
    text-decoration: none; }
