body {
	background: #fefefe;
	font-family: $body-font-family;
	font-weight: normal;
	line-height: 1.5;
	color: $black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 100%;
}

p {
	// font-size: inherit;
	font-size: $p;
}

h1 {
	font-weight: bolder;
	// font-size: 24px;
	font-size: $h1;
	color: $blue;
	line-height: normal !important;
	text-align: left;
}

h2 {
	font-weight: bolder;
	// font-size: 18px;
	font-size: $h2;
	color: $blue;
	text-align: left;
}

h3 {
	font-weight: bolder;
	// font-size: 21px;
	font-size: $h3;
	color: $blue;
}

h4 {
	font-weight: bolder;
	// font-size: 14px;
	font-size: $h4;
	color: $blue;
	text-align: left;
}

a {
	font-weight: bold;
	color: $blue;

	&:hover {
		color: $blue-hover;
		text-decoration: none;
	}
}
